<h1>Horses</h1>

<%= link_to 'Add Horse', :new_horse %>

<ul>
  <% @horses.each do |horse| %>
    <li>
      <span class="name"><%= link_to horse.name, horse  %></span>
      <%= link_to "Edit", [:edit, horse] %>
      <%= link_to "Delete", horse, method: :delete %>
    </li>
  <% end %>
</ul>
